body{
    font-family: Lato,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 100%;
}

select{
    -webkit-appearance: listbox !important
}

.main-container{
    padding-left: 15px;
    padding-right: 15px;
}

.header-container{
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
}

/* -- HEADER -- */
.header{
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: #007b8f;
    border-bottom: 0.1em solid #eee;
}

.title-header {
    font-size: 14pt;
    font-weight: 700;
    color: #fff;
    font-family: Lato,Arial,sans-serif;
}

/* -- MAIN SECTION -- */
.main-section{
    margin-bottom: 0;
    background-color: inherit;
    border-style: none;
    text-align: left;
}

.info-section{
    margin-top: 20px;
    padding: 15px;
    background-color: gainsboro;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.subtitle{
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    font-family: Lato,Arial;
    width: auto;
    max-width: 100%;
    text-align: left;
    overflow-wrap: break-word;
}

.info-text{
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    word-wrap: break-word;
}

/* -- GRID -- */


.table-input{
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(222,201,100,.35);
    border-radius: 5px;
}

.row-selected{
    background-color: #dec964;
}

.img{
    vertical-align: middle;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}

.table-info{
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 0 10px;
    word-wrap: break-word;
    font-family: Lato,Arial;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    max-width: 100%;
    text-align: left;
}

.btn_blue{
    cursor: pointer;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    min-width: 200px;
    background-color: #007b8f;
    border-style: none;
    border-radius: 2em;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #fff;    
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center !important;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

.btn_blue:hover{
    background-color: #00505d;
    border-color: #adadad;
    outline: auto 5px -webkit-focus-ring-color;
    color: #fff;
}

.btn-cancel{
    background-color: #eaeaea;
    margin-top: 5px;
    height: 40px;
    width: 200px;    
    min-width: 200px;
    cursor: pointer;
    margin-top: 5px;
    border-style: none;
    border-radius: 2em;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #007b8f;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center !important;
    border-color: #ccc;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

/* -- FOOTER -- */

.footer{
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

        /* ----------------------------------------------------------------------------- */
.aside{
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(222,201,100,.35);
    border-radius: 5px;
}

.aside-container{
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: gainsboro;
}

.form-group {
    margin-bottom: 15px;
    margin-right: -15px;
    margin-left: -15px;
    display: table;
}

.control-label{
    font-family: Lato,Arial;
    font-size: 14px;
    font-weight: bold;
    color: #007b8f;
    text-align: left;
    padding-left: 15px;
}

input[type="number"]{
    -webkit-appearance: textfield;
    margin: 0;
    -moz-appearance:textfield;
}

.form-control{
    text-align:left;
}

.form-blur:focus{    
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0px 0px 8px 1px #66afe9;    
}

